
<br><br>
<div class="row center">
  <h1>/events</h1>
  <div class="row center">
    <a href="#" class="btn-large waves-effect waves-light green">GET </a> <span> retrieves all events</span>
  </div>
  <div class="row center">
    <a href="#" class="btn-large waves-effect waves-light orange">POST </a> <span> creates an event</span>
  </div>
</div>
<br><br>
